<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <h3><%= link_to cocktail.name, cocktail_path(cocktail) %></h3>
      <%= link_to "Delete", cocktail_path(cocktail), method: :delete, data: { confirm: "Are you sure?"} %>
    <% end %>
  </div>
</div>

<%= link_to "Add a new cocktail", new_cocktail_path %>
